@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: "Barlow", "Bellefair", sans-serif;
  height: auto;
}

/* Home Page */
.home {
  background-color: #1e1e1e;
  background-image: url("./assets/home/background-home-desktop.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text styles */
.heading-xs {
  font-family: "Bellefair";
  font-size: 144px;
  line-height: 165px;
  color: #ffffff;
}

.body-xs {
  font-family: "Barlow";
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

.heading {
  font-family: "Barlow Condensed";
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4px;
  color: #d0d6f9;
}

/* Hero section */
.hero {
  position: absolute;
  bottom: 40px;
  left: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  color: white;
  text-align: left;
  width: 100%;
  padding: 20px;
}

/* Destination Page */
.destination-page {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.dest-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.dest-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-right: 80px;
}

.routes-container {
  flex: 1;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.route-content {
  margin-top: 80px;
  max-width: 600px;
}

.planet-name {
  margin: 0;
}

.description {
  margin-top: 2px;
  color: #add8e6;
  margin-bottom: 40px;
}

.stats {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.stat-item {
  flex: 1;
}

.stat-title {
  font-family: "Barlow condensed Regular";
  margin-top: 1rem;
  font-size: 16px;
  color: white;
}

.divider {
  border: 1px solid #b0b0b0;
  margin: 24px 0;
}

.divider1 {
  stroke: #979797;
  stroke-width: solid;
  stroke-linejoin: miter;
}

/* Crew Page */
.crew-body {
  font-family: "Bellefair", serif;
  background: url("./assets/crew/background-crew-desktop.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.title-number {
  font-family: "Barlow condensed";
  font-weight: bold;
  color: grey;
  font-size: 28px;
  margin-right: 10px;
}

.crew-member {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crew-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.crew-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.dot-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0d6f9;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ffffff;
}

.dot:hover {
  background-color: #ffffff;
}

/* Technology Page */
.technology-page {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbered-section {
  margin-bottom: -5%;
  margin-top: 20%;
}

.tech-content {
  width: 100%;
  max-width: 600px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-top: -20%;
}

.tech-image-container {
  width: 100%;
  max-width: 600px;
  margin-left: 70%;
  margin-top: -50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.tech-image-container img {
  width: 100%;
  height: auto;
}

/* Typography */
.heading {
  font-family: "Barlow Condensed";
  font-size: 28px;
  letter-spacing: 4px;
  font-weight: normal;
}

.heading-l {
  font-family: "Bellefair";
  font-size: 96px;
  font-weight: normal;
  letter-spacing: 0px;
}

.desktop-body {
  margin-top: 24px;
  font-family: "Barlow";
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 180%;
}

.desktop-subheading-l {
  font-family: "Bellefair";
  font-size: 28px;
  line-height: auto;
  color: #ffffff;
}

.heading-m {
  margin-top: 12px;
  font-family: "Bellefair";
  font-size: 56px;
  color: #ffffff;
}

.heading-n {
  font-family: "Bellefair";
  font-size: 28px;
  color: grey;
}

.page-dims {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1300px;
  height: 680px;
}

.title-text {
  font-family: "Barlow Condensed";
  font-size: 28px;
  color: white;
  letter-spacing: 4px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-text {
  margin-top: 150px;
  flex: 1;
  margin-right: 2rem;
}

.page-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 2rem;
}

.page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagination-tech-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.pagination-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #d0d6f9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination-tech.active {
  background-color: white;
}

.pagination-tech.active-text {
  color: #0b0d17;
}

.heading-s {
  font-size: 32px;
  color: #d0d6f9;
  font-family: "Bellefair";
}

.pagination-tech:hover {
  border-color: white;
}

.pagination-tech:hover .heading-s {
  color: white;
}

.explore-button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 272px;
  height: 272px;
  border-radius: 50%;
  background-color: white;
  color: #979797;
  font-size: 32px;
  font-family: "Bellefair", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.explore-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.1);
}
